In [1]:
import pandas as pd

In [2]:
x=pd.read_csv("IBM_survey_scores.csv")

In [3]:
x

,Name,Query 1,Query 2,Query3,Query 4,Query 5,Query 6,Query 7,Query 8,Query 9,Query 10,Query 11,Query 12,Query 13,Query 14,Query 15,Query 16,Query 17
0,Ishaan Lagwanker,4,5,5,3,5,5,4,3,5,4,5,5,3,4,4,1,3
1,Nandakrishna,4,5,4,3,5,5,4,3,5,4,5,5,3,4,3,2,4
2,Malavikka Rajmohan,4,5,4,3,5,5,4,3,5,4,5,5,4,4,4,2,3
3,Richa Sharma,4,5,4,4,5,5,4,3,5,4,5,5,3,5,4,2,4
4,Arpit Agarwal,4,5,4,3,5,5,4,4,5,4,5,5,4,5,4,2,3
5,Varun Venkat,5,5,5,4,5,5,3,4,5,5,5,5,4,5,4,1,4
6,Vishwas,5,5,4,4,5,5,3,4,5,4,4,5,3,4,4,1,4
7,Dinakar Murthy,5,5,4,3,5,5,4,4,4,4,4,5,3,5,4,2,4
8,Daivik Poonja,3,5,4,3,5,5,3,3,5,5,5,5,3,4,4,2,4
9,Ranjan Nair,5,5,4,2,5,5,4,3,5,4,5,5,5,5,4,2,4
10,Siddharth Shankar,4,5,4,3,5,5,4,3,5,4,5,5,3,4,4,3,3
11,Vishal Kanteppa,4,5,5,4,5,5,4,4,5,5,5,5,3,5,4,2,4
12,Ashish Christopher Victor,4,5,5,3,5,5,4,3,4,4,5,5,4,4,4,2,3
13,Vikram Dev,4,5,4,3,5,5,4,4,5,4,4,5,3,5,4,1,3
14,Adithya Bhargav,4,5,4,2,5,4,4,3,5,5,5,5,3,5,4,3,4
15,Druthi Prasad,5,5,4,4,5,5,4,4,5,5,5,5,3,5,3,1,4
16,Vaishnavi DP,4,5,4,4,5,5,3,3,5,4,5,5,3,5,3,2,4
17,Trisha Shah,5,5,4,3,5,5,3,3,5,4,4,5,4,4,4,2,4
18,Nagesh N,4,5,5,4,5,4,3,3,4,4,4,5,4,4,4,3,4
19,Amruth Karnam,5,5,5,3,5,4,4,4,4,4,5,5,4,4,4,3,4
20,Adithyavardhan M,5,5,4,3,5,4,4,4,5,5,5,5,4,4,4,2,4
21,Daksh Singhal,5,5,4,4,5,4,4,4,5,4,5,5,4,5,4,2,4
22,Rakshitha KP Hampole,5,5,4,4,5,5,4,3,5,4,4,5,4,5,3,1,4
23,Sanjeevini Prabhu,4,5,4,3,5,5,4,3,5,4,5,5,3,4,3,1,4
24,Neha Rao,4,5,5,3,5,5,4,3,5,4,4,5,4,5,3,3,3
25,Saket Agarwal,4,5,5,3,5,5,4,3,4,5,5,5,4,4,3,3,4
26,Tejeshwar Mahesh,4,5,5,4,5,4,3,3,4,5,5,5,4,4,3,3,3
27,Samarth Suresh,5,4,4,4,5,5,3,4,4,5,5,5,4,4,4,1,4
28,Kushi Kiran,5,5,4,4,5,4,3,4,4,4,5,5,4,4,4,2,4
29,Manisha Ganga,4,5,4,4,5,5,3,4,4,4,4,5,3,4,4,2,3
30,Shreyas Sundaresan,5,5,4,4,5,5,4,3,5,4,4,5,4,5,4,3,4
31,Anjali Kamath,4,5,4,3,5,5,4,4,5,5,4,5,4,5,4,2,3
32,Siddhanth Samyak,4,4,5,4,5,5,4,3,5,4,5,5,3,4,4,3,4
33,Satyam Lal,4,5,5,4,5,5,4,4,5,4,5,5,4,5,4,2,3
34,Aniket Mallya,5,5,5,4,5,5,4,3,5,4,5,5,3,4,4,2,4
35,Abhishek S,5,5,5,3,5,5,4,4,5,5,5,5,4,5,3,1,4

In [4]:
x.rename(columns={"Query3":"Query 3"},inplace=True)

In [5]:
s='Query '
means=[]
for k in range(1,18):
    print("Score counts of "+s+str(k))
    for i,j in x[s+str(k)].value_counts().items(): print(i," occurs ",j," times")
    for i,j in x[s+str(k)].describe().items(): print(i," : ",j)
    means.append(x[s+str(k)].mean())
    print()

Score counts of Query 1
4  occurs  20  times
5  occurs  15  times
3  occurs  1  times
count  :  36.0
mean  :  4.388888888888889
std  :  0.549169647365276
min  :  3.0
25%  :  4.0
50%  :  4.0
75%  :  5.0
max  :  5.0

Score counts of Query 2
5  occurs  34  times
4  occurs  2  times
count  :  36.0
mean  :  4.944444444444445
std  :  0.2323106841457232
min  :  4.0
25%  :  5.0
50%  :  5.0
75%  :  5.0
max  :  5.0

Score counts of Query 3
4  occurs  23  times
5  occurs  13  times
count  :  36.0
mean  :  4.361111111111111
std  :  0.4871361075732195
min  :  4.0
25%  :  4.0
50%  :  4.0
75%  :  5.0
max  :  5.0

Score counts of Query 4
4  occurs  17  times
3  occurs  17  times
2  occurs  2  times
count  :  36.0
mean  :  3.4166666666666665
std  :  0.6035608621222174
min  :  2.0
25%  :  3.0
50%  :  3.0
75%  :  4.0
max  :  4.0

Score counts of Query 5
5  occurs  36  times
count  :  36.0
mean  :  5.0
std  :  0.0
min  :  5.0
25%  :  5.0
50%  :  5.0
75%  :  5.0
max  :  5.0

Score counts of Query 6
5  occurs  29  times
4  occurs  7  times
count  :  36.0
mean  :  4.805555555555555
std  :  0.4013864859597432
min  :  4.0
25%  :  5.0
50%  :  5.0
75%  :  5.0
max  :  5.0

Score counts of Query 7
4  occurs  26  times
3  occurs  10  times
count  :  36.0
mean  :  3.7222222222222223
std  :  0.45425676257949793
min  :  3.0
25%  :  3.0
50%  :  4.0
75%  :  4.0
max  :  4.0

Score counts of Query 8
3  occurs  20  times
4  occurs  16  times
count  :  36.0
mean  :  3.4444444444444446
std  :  0.5039526306789697
min  :  3.0
25%  :  3.0
50%  :  3.0
75%  :  4.0
max  :  4.0

Score counts of Query 9
5  occurs  27  times
4  occurs  9  times
count  :  36.0
mean  :  4.75
std  :  0.43915503282683993
min  :  4.0
25%  :  4.75
50%  :  5.0
75%  :  5.0
max  :  5.0

Score counts of Query 10
4  occurs  25  times
5  occurs  11  times
count  :  36.0
mean  :  4.305555555555555
std  :  0.4671765921511567
min  :  4.0
25%  :  4.0
50%  :  4.0
75%  :  5.0
max  :  5.0

Score counts of Query 11
5  occurs  26  times
4  occurs  10  times
count  :  36.0
mean  :  4.722222222222222
std  :  0.45425676257949793
min  :  4.0
25%  :  4.0
50%  :  5.0
75%  :  5.0
max  :  5.0

Score counts of Query 12
5  occurs  36  times
count  :  36.0
mean  :  5.0
std  :  0.0
min  :  5.0
25%  :  5.0
50%  :  5.0
75%  :  5.0
max  :  5.0

Score counts of Query 13
4  occurs  19  times
3  occurs  16  times
5  occurs  1  times
count  :  36.0
mean  :  3.5833333333333335
std  :  0.5542047068934521
min  :  3.0
25%  :  3.0
50%  :  4.0
75%  :  4.0
max  :  5.0

Score counts of Query 14
4  occurs  19  times
5  occurs  17  times
count  :  36.0
mean  :  4.472222222222222
std  :  0.506309397848002
min  :  4.0
25%  :  4.0
50%  :  4.0
75%  :  5.0
max  :  5.0

Score counts of Query 15
4  occurs  27  times
3  occurs  9  times
count  :  36.0
mean  :  3.75
std  :  0.43915503282683993
min  :  3.0
25%  :  3.75
50%  :  4.0
75%  :  4.0
max  :  4.0

Score counts of Query 16
2  occurs  18  times
3  occurs  9  times
1  occurs  9  times
count  :  36.0
mean  :  2.0
std  :  0.7171371656006361
min  :  1.0
25%  :  1.75
50%  :  2.0
75%  :  2.25
max  :  3.0

Score counts of Query 17
4  occurs  25  times
3  occurs  11  times
count  :  36.0
mean  :  3.6944444444444446
std  :  0.4671765921511567
min  :  3.0
25%  :  3.0
50%  :  4.0
75%  :  4.0
max  :  4.0

In [6]:
print("Mean of mean scores of all queries : ",sum(means)/len(means))

Mean of mean scores of all queries :  4.138888888888888

In [10]:
x["Average_Score"]=x.mean(axis=1)

In [11]:
x

,Name,Query 1,Query 2,Query 3,Query 4,Query 5,Query 6,Query 7,Query 8,Query 9,Query 10,Query 11,Query 12,Query 13,Query 14,Query 15,Query 16,Query 17,Average_Score
0,Ishaan Lagwanker,4,5,5,3,5,5,4,3,5,4,5,5,3,4,4,1,3,4.000000
1,Nandakrishna,4,5,4,3,5,5,4,3,5,4,5,5,3,4,3,2,4,4.000000
2,Malavikka Rajmohan,4,5,4,3,5,5,4,3,5,4,5,5,4,4,4,2,3,4.058824
3,Richa Sharma,4,5,4,4,5,5,4,3,5,4,5,5,3,5,4,2,4,4.176471
4,Arpit Agarwal,4,5,4,3,5,5,4,4,5,4,5,5,4,5,4,2,3,4.176471
5,Varun Venkat,5,5,5,4,5,5,3,4,5,5,5,5,4,5,4,1,4,4.352941
6,Vishwas,5,5,4,4,5,5,3,4,5,4,4,5,3,4,4,1,4,4.058824
7,Dinakar Murthy,5,5,4,3,5,5,4,4,4,4,4,5,3,5,4,2,4,4.117647
8,Daivik Poonja,3,5,4,3,5,5,3,3,5,5,5,5,3,4,4,2,4,4.000000
9,Ranjan Nair,5,5,4,2,5,5,4,3,5,4,5,5,5,5,4,2,4,4.235294
10,Siddharth Shankar,4,5,4,3,5,5,4,3,5,4,5,5,3,4,4,3,3,4.058824
11,Vishal Kanteppa,4,5,5,4,5,5,4,4,5,5,5,5,3,5,4,2,4,4.352941
12,Ashish Christopher Victor,4,5,5,3,5,5,4,3,4,4,5,5,4,4,4,2,3,4.058824
13,Vikram Dev,4,5,4,3,5,5,4,4,5,4,4,5,3,5,4,1,3,4.000000
14,Adithya Bhargav,4,5,4,2,5,4,4,3,5,5,5,5,3,5,4,3,4,4.117647
15,Druthi Prasad,5,5,4,4,5,5,4,4,5,5,5,5,3,5,3,1,4,4.235294
16,Vaishnavi DP,4,5,4,4,5,5,3,3,5,4,5,5,3,5,3,2,4,4.058824
17,Trisha Shah,5,5,4,3,5,5,3,3,5,4,4,5,4,4,4,2,4,4.058824
18,Nagesh N,4,5,5,4,5,4,3,3,4,4,4,5,4,4,4,3,4,4.058824
19,Amruth Karnam,5,5,5,3,5,4,4,4,4,4,5,5,4,4,4,3,4,4.235294
20,Adithyavardhan M,5,5,4,3,5,4,4,4,5,5,5,5,4,4,4,2,4,4.235294
21,Daksh Singhal,5,5,4,4,5,4,4,4,5,4,5,5,4,5,4,2,4,4.294118
22,Rakshitha KP Hampole,5,5,4,4,5,5,4,3,5,4,4,5,4,5,3,1,4,4.117647
23,Sanjeevini Prabhu,4,5,4,3,5,5,4,3,5,4,5,5,3,4,3,1,4,3.941176
24,Neha Rao,4,5,5,3,5,5,4,3,5,4,4,5,4,5,3,3,3,4.117647
25,Saket Agarwal,4,5,5,3,5,5,4,3,4,5,5,5,4,4,3,3,4,4.176471
26,Tejeshwar Mahesh,4,5,5,4,5,4,3,3,4,5,5,5,4,4,3,3,3,4.058824
27,Samarth Suresh,5,4,4,4,5,5,3,4,4,5,5,5,4,4,4,1,4,4.117647
28,Kushi Kiran,5,5,4,4,5,4,3,4,4,4,5,5,4,4,4,2,4,4.117647
29,Manisha Ganga,4,5,4,4,5,5,3,4,4,4,4,5,3,4,4,2,3,3.941176
30,Shreyas Sundaresan,5,5,4,4,5,5,4,3,5,4,4,5,4,5,4,3,4,4.294118
31,Anjali Kamath,4,5,4,3,5,5,4,4,5,5,4,5,4,5,4,2,3,4.176471
32,Siddhanth Samyak,4,4,5,4,5,5,4,3,5,4,5,5,3,4,4,3,4,4.176471
33,Satyam Lal,4,5,5,4,5,5,4,4,5,4,5,5,4,5,4,2,3,4.294118
34,Aniket Mallya,5,5,5,4,5,5,4,3,5,4,5,5,3,4,4,2,4,4.235294
35,Abhishek S,5,5,5,3,5,5,4,4,5,5,5,5,4,5,3,1,4,4.294118